body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 95%);

    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

main {
    display: flex;
    height: 30em;
    border-radius: 8px;
    overflow: hidden; /* Ellers overlappes border-radiusen av section-elementene */
}

section {
    width: 16em;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: flex-start; /* unngår at bilder vokser og layouten forskyves. */
}

a {
    background: hsl(0, 0%, 95%);
    text-decoration: none;
    border-radius: 100em; /* Garantert større enn knappen, alltid helt rund */
    padding: 0.8em 1.7em;

    margin-top: auto; /* Posisjoner nederst i flex-kolonne */
}

.sedans {
    background: hsl(31, 77%, 52%);
}
.sedans a {
    color: hsl(31, 77%, 52%);
}

.suvs {
    background: hsl(184, 100%, 22%);
}
.suvs a {
    color: hsl(184, 100%, 22%);
}

.luxury {
    background: hsl(179, 100%, 13%);
}
.luxury a {
    color: hsl(179, 100%, 13%);
}
