body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 95%);

    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

main {
    display: flex;
    height: 30em;
}

section {
    width: 16em;
    padding: 2em;
    background: grey;
}

a {
    background: hsl(0, 0%, 95%);
}

.sedans {
    background: hsl(31, 77%, 52%);
}

.suvs {
    background: hsl(184, 100%, 22%);
}

.luxury {
    background: hsl(179, 100%, 13%);
}
