body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    height: 30em;
}

section {
    width: 16em;
    padding: 2em;
    background: grey;
}
